@import "tailwindcss";

@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-100%); }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}

.hero__header {
  height: 100vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.hero__header h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: var(--headlineBig);
  color: var(--primaryTextColor);
}

.hero__header h2 {
  letter-spacing: var(--headlineSmall);
  font-size: var(--headlineSmall);
  text-transform: uppercase;
  color: var(--primaryColor);
}

.scroll-section-outer {
  overflow: hidden;
}

.scroll-section-inner {
  height: 100vh;
  width: 400vw;
  display: flex;
  flex-direction: row;
  position: relative;
}

.scroll-section {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-section h3 {
  color: var(--primaryTextColor);
  letter-spacing: var(--headlineMedium);
  font-size: var(--headlineMedium);
  text-transform: uppercase;
}

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

/* src/app/globals.css (or wherever your global styles are) */

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

/* ------------- */

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}